version: 2.1

orbs:
  node: circleci/node@5.2

jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test

workflows:
  test_my_app:
    jobs:
      - test
